package ${packageName};

import com.forsuredb.annotation.FSColumn;

import com.forsuredb.api.FSFilter;

public interface ${className} extends FSFilter#if( $resultParameter )<$resultParameter>#end {
#foreach($methodDefinition in $methodDefinitions)
    ${methodDefinition}
#end
}