package $packageName;

import java.util.Date;

import com.forsuredb.annotationprocessor.Migration;

public class $className extends Migration {

    public $className() {
        super("$tableName", new Date(${dateInMillis}L));
    }

    public String getTableCreateQuery() {
        return "$tableCreateQuery";
    }
}