package ${packageName};

import java.util.List;
import java.util.LinkedList;

import com.forsuredb.api.FSTableCreator;

public class ${className} {

    /**
     * <p>
     *     Creates a list of FSTableCreator objects that tell the underlying routing mechanism all it needs to know in order to
     *     set up the appropriate routes to the tables. The authority will be the default authority (app.package.name.content).
     * <p>
     * @param authority The authority for your database resources.
     * @return A list of FSTableCreator corresponding to all FSGetApi extensions annotated with the @FSTable annotation
     */
    public static List<FSTableCreator> ${methodName}() {
        return ${methodName}(null);
    }

    /**
     * <p>
     *     Creates a list of FSTableCreator objects that tell the underlying routing mechanism all it needs to know in order to
     *     set up the appropriate routes to the tables.
     * <p>
     * @param authority The authority for your database resources.
     * @return A list of FSTableCreator corresponding to all FSGetApi extensions annotated with the @FSTable annotation
     */
    public static List<FSTableCreator> ${methodName}(String authority) {
        authority = authority == null || authority.isEmpty() ? "${packageName}.content" : authority;  // <-- provide a reasonable default authority
        final List<FSTableCreator> ${listVariableName} = new LinkedList<>();
#foreach($addFSTableCreatorLine in $addFSTableCreatorLines)
        $addFSTableCreatorLine
#end
        return ${listVariableName};
    }
}